# Postgres (ESCORIAL) - 10.90.98.7:5432 / DB ESCORIAL en produccion
PG_HOST=
PG_PORT=5432
PG_DATABASE=
PG_USER=
PG_PASSWORD=

# SQL Server Etiquetas (Suipacha) - 192.168.10.103:1433 / DB Etiquetas en produccion
MSSQL_HOST=
MSSQL_PORT=1433
MSSQL_DATABASE=
MSSQL_USER=
MSSQL_PASSWORD=

# HTTP server
PORT=3000
LOG_LEVEL=info
